
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
} 

h3 {
  font-weight: 800;
  text-align: center;
}

#content {
  padding-left: 20px;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


 .p-text {
  font-size: 0.8rem;
  text-align: left;
  color: #232425;
   line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}